aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
asgiref==3.9.1
async-timeout==5.0.1
attrs==25.4.0
audioop-lts==0.2.1
autobahn==25.12.2
Automat==25.4.16
beautifulsoup4==4.14.3
billiard==4.2.2
cachetools==6.2.1
cbor2==5.7.1
celery==5.5.3
certifi==2025.10.5
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cron_descriptor==2.0.6
cryptography==46.0.3
daphne==4.2.1
distro==1.9.0
Django==5.2.5
django-celery-beat==2.8.1
django-redis==6.0.0
django-timezone-field==7.1
django-unfold==0.63.0
django_celery_results==2.6.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
fastapi==0.128.0
frozenlist==1.8.0
google-ai-generativelanguage==0.6.15
google-api-core==2.26.0
google-api-python-client==2.185.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
groq==1.0.0
grpcio==1.75.1
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
kombu==5.5.4
msgpack==1.1.2
multidict==6.7.0
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==5.29.5
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.3
pydantic_core==2.41.4
pydub==0.25.1
PyJWT==2.10.1
pyOpenSSL==25.3.0
pyparsing==3.2.5
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
redis==7.0.1
requests==2.32.5
rsa==4.9.1
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
sqlparse==0.5.3
starlette==0.50.0
tqdm==4.67.1
twilio==9.8.4
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.40.0
vine==5.1.0
wcwidth==0.2.14
websockets==15.0.1
yarl==1.22.0
zope.interface==8.1.1
